{% extends 'base.html.twig' %}



{% block body %}
<main class='main-content bgc-grey-100'>
          <div id='mainContent'>
            <div class="container-fluid">
            <h2 class="c-grey-900 mT-10 mB-30">Pannello freelancer</h2>
             <div class="row">
                <div class="col-md-12">
                  <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">Gestione utenti</h4>

                        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                         <thead>
                          <tr>
                           <th scope="col">Username</th>
                           <th scope="col">Email</th>
                            <th scope="col">Abilitato</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Cognome</th>
                           
                            
                            <th scope="col">Azione</th>
                             </tr>
                                </thead>
                            <tbody>
                             {% for user in users %}
                                <tr>
                                   <td>{{ user.username }}</td>
                                   <td>{{ user.email }}</td>
                                   <td>{{ user.enabled }}</td>
                                    <td>{{ user.firstname }}</td>
                                     <td>{{ user.lastname }}</td>
                                    
                                   
                                  
                             <td>
                                  <div class="item-actions">
                                 <div class="peer">
                                  <a type="button" class="btn cur-p btn-primary" href="user/{{user.id}}/show-user"=>Mostra utente</a>
                        
                       
                                   <a type="button" class="btn cur-p btn-success" href="user/{{user.id}}/edit-user"=>Edit</a>
                        
                                  <a type="button" class="btn cur-p btn-danger" href="user/{{user.id}}/delete"=>Cancella</a>
                                    </div>
                        
                        </div>
                            </td>
                            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">Nessun lavoro trovato, vai a lavorare!</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>



          </div>
          
          </div>
          
          </div>
          
          </div>
          <a type="button" class="btn cur-p btn-success" href="user/new-user"=>Aggiungi lavoro</a>
        </main>




{% endblock %}
